<div class="container p-4 d-flex justify-content-center">
  <div class="shadow-lg border border-light">
    <div class="m-3">
      <h1>Sell your own clothes!</h1>
      <%= simple_form_for (@clothe) do |f| %>
        <%= f.input :name %>
        <%= f.input :brand %>
        <%= f.input :size %>
        <%= f.input :price %>
        <%= f.input :comment %>
        <%= f.input :photo, as: :file%>
        <%= f.submit "Add clothe", class:"btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
